# Auto detect text files and perform LF normalization
* text=auto

# Results and charts (binary)
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary

# Python files
*.py text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf
